# Identifiants Université de Limoges (CAS)
UNILIM_USERNAME="votre_identifiant"
UNILIM_PASSWORD="votre_mot_de_passe"

# Configuration IMAP pour interception A2F
UNILIM_EMAIL="prenom.nom@etu.unilim.fr"
UNILIM_IMAP_SERVER="imap.unilim.fr"
UNILIM_IMAP_PORT=993
# Mot de passe d'application généré sur Biome (ou votre mot de passe usuel si autorisé)
UNILIM_IMAP_PASSWORD="votre_mot_de_passe_ou_app_password"

# Configuration Calendrier Apple
# Nom du calendrier à créer/cibler dans l'application Calendrier macOS (ex: Cours IUT)
APPLE_CALENDAR_NAME="Cours IUT"

# Options
PLANNING_URL="https://planning.unilim.fr/direct/myplanning.jsp"
